#titleText{
  text-align: center;
}

.container-fluid{
  display: flex;
  justify-content: center;
  margin: 1%;
}

#registrationForm{
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  width: 40%;
}

.form-group{
  padding: 10px;
}
.form-control{
  padding: 5px;
  /* margin-right: 10px;
  margin-left: 5px; */
}

.form-control.slider{
  text-align: center;
}



#numberJustify{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#reverseList{
  direction:rtl;
}

textarea{
  width: inherit;
}
