<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hack the North</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      <script src = "TEST_SURVEY_MONKEY.js"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body>
<!--
    <form id="formContainer">
      <div id="formContent">
        <h1 id="formTitle">YOUR PROFILE</h1>
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input type="text" class="form-control" aria-describedby="First Name" placeholder="Enter First Name">
        </div>

        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input type="text" class="form-control" placeholder="Enter Last Name">
        </div>

        <input type="checkbox" name="choice1" value="mentor"> I love bothering mentors. <br>
        <input type="checkbox" name="choice2" value="sleep"> I work with barely any sleep. <br>
        <input type="checkbox" name="choice3" value="eat"> I eat and might stain your computer. <br>

        <div class="form-group">
          
          <label for="interest">Describe your Interests:</label>
          <textarea name="description" id="description" maxlength="120" placeholder="120 characters max"></textarea>
        </div>




        <button type="submit" class="btn btn-primary"><a href="match.html">Submit</a></button>
      </div>


    </form>
-->
      <script>(function(t,e,s,o){var n,c,l;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),c=n[n.length-1],l=e.createElement(s),l.type="text/javascript",l.async=!0,l.id=o,l.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd7WnuXmrKllSQSuChpOpd0lBJJk3ZupAS_2FD41MYPC4S8.js"].join(""),c.parentNode.insertBefore(l,c))})(window,document,"script","smcx-sdk");</script>
      
      <button type="submit" onclick = "pullData()" class="btn btn-primary"><a href="firstPage.html">Done, take me back to login page</a></button>
  </body>
</html>
