<% include ./partials/header %>
<div class="container">
    <h1>Login</h1>
    <div class="row">
        <div class="col">
            <form action="/login" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" id="username" name="username"
                        placeholder="Enter your email">
                </div>
                <br>
                <div class="form-control">
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter your password">
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/register">Register here</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>